<div>Partial</div>
<table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% clientes.each do |cliente| %>
        <tr>
            <td><%= cliente.id %></td>
            <td><%= cliente.nome %></td>
            <td><%= cliente.telefone %></td>
            <td><%= cliente.endereco %></td>
            <td>
            <%= link_to "Mostrar", cliente_path(cliente) %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>