<section class="panel banner right">
	<div class="content color0 span-3-75">
    <a href="/">Voltar para home</a><br>
    <h1>Clientes</h1>
    <hr style="margin: 0px;">

		<%= link_to "Carregar clientes hotwire", clientes_path, 'data-turbo-frame': 'clientes' %>

		<%= turbo_frame_tag 'clientes' do %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @clientes.each do |cliente| %>
            <tr>
              <td><%= cliente.id %></td>
              <td><%= cliente.nome %></td>
              <td><%= cliente.telefone %></td>
              <td><%= cliente.endereco %></td>
              <td>
                <%= link_to "Mostrar", cliente_path(cliente) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= link_to "Novo Cliente", new_cliente_path %>
  </div>

	<div class="image filtered span-1-75" data-position="25% 25%">
    <img src="/images/pic01.jpg" alt="" />
  </div>
</section>