<!-- Panel (Spotlight) -->
<section class="panel spotlight medium right" style="background: #907190;">
	<div class="content span-7">

    <p style="color: green"><%= notice %></p>

    <%= render @cliente %>

    <div>
      <%= link_to "Edit this cliente", edit_cliente_path(@cliente) %> |
      <%= link_to "Back to clientes", clientes_path %>

      <%= button_to "Destroy this cliente", @cliente, method: :delete %>
    </div>

  </div>
</section>