<div id="<%= dom_id pedido_produto %>">
  <p>
    <strong>Pedido:</strong>
    <%= pedido_produto.pedido_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= pedido_produto.produto_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= pedido_produto.valor %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= pedido_produto.quantidade %>
  </p>

</div>
