<section class="panel banner right">
	<div class="content color0 span-3-75">
    <h2>Registrar novo usuário</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "Senha", class: "margin-devise" %>
        <% if @minimum_password_length %>
        <em>Minimo de caracteres para a senha é de (<%= @minimum_password_length %>)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmação de senha", class: "margin-devise" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions margin-devise">
        <%= f.submit "Registrar" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

  <div class="image filtered span-1-75" data-position="25% 25%">
    <img src="/images/pic01.jpg" alt="" />
  </div>
</section>