<a href="<%= fornecedores_path %>">Lista de Fornecedores</a><br>

<%= form_for @fornecedor do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>
  <div>
    <%= form.label :razao_social %>
    <%= form.text_field :razao_social %>
  </div>
  <div>
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj %>
  </div>
  <div>
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>
  <br>
  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>
