<div id="<%= dom_id pedido %>">
  <p>
    <strong>Cliente:</strong>
    <%= pedido.cliente.nome %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= pedido.valor_total %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= pedido.data %>
  </p>

  <p>
    <strong>Endereco completo:</strong>
    <%= pedido.endereco_completo %>
  </p>

</div>
